.arrow-button{
    width: 5%;
    background-color: #1E212D;
    filter: opacity(60%);
    color: #FAF3E0;
    font-weight: 700;
    border: none;
    transition: all 300ms ease-in;
}

.arrow-button:hover{
    color: #EABF9F;
    filter: opacity(100%);
    transform: scale(1.1);
}
@media (max-width: 767px) {
    .arrow-button{
        display: none;
    }
}