.Carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-bottom: 2rem;
    /* background: url("https://www.xtrafondos.com/wallpapers/callejon-en-ciudad-europea-10222.jpg"); */
    /* background: url("https://www.xtrafondos.com/wallpapers/edificios-de-arquitectura-europea-10212.jpg");
    background-position: 50%;
    background-size: cover; */
}
.Carousel{
    display: flex;
    max-height: 80vh;
    min-height: 80vh;
    overflow-y: hidden;
    justify-content: flex-start;
    width: 100%;
    background: #1e212d96;
    background-position: 50%;
    background-size: 90%;
    z-index: 50;
}
.Carousel-title{
    font-family: sans-serif;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 700;
    color: #FAF3E0;
    text-shadow: -5px 7px 4px rgba(30, 33, 45, 0.73);
    z-index: 80;
}
.Carousel-slide{
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    min-width: 90%;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}
.Carousel-item{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    height: 48%;
    width: 48%;
    overflow: hidden;
    background-color: #1E212D88;
    outline: 3px solid #1E212D;
    outline-offset: -3px;
}
.Carousel-item-image{
    min-width: calc(100% - 6px);
    max-width: calc(100% - 6px);
    height: 90%;
    object-fit: fill;
    overflow-x: hidden;
    object-position: 50%;
    margin-left: 3px;
}
.Carousel-item-title{
    color: #FAF3E0;
    text-shadow: 2px 1px black;
    position: relative;
    min-width: 100%;
    right: 100%;
    font-size: 1em;
    font-family: Tahoma;
    font-style: italic;
    text-align: center;
    text-shadow: -5px 7px 4px rgba(30, 33, 45, 0.73);
    z-index: 120;
}
@media (min-width:768px) {

    .Carousel-title {
        font-size: 1.6rem;
    }

    .Carousel-item-title {
        font-size: 1.3em;
    }
}

@media (min-width:1024px) {
    .Carousel{
        width: 80%;
    }
    .Carousel-title {
        font-size: 1.8rem;
    }

    .Carousel-item-title {
        font-size: 1.6em;
    }
}

@media (min-width:1440px) {
    .Carousel{
        width: 70%;
    }
    .Carousel-title {
        font-size: 2.2rem;
    }

    .Carousel-item-title {
        font-size: 2em;
    }
}

@media (min-width:1880px) {

    .Carousel-title {
        font-size: 2.8rem;
    }

    .Carousel-item-title {
        font-size: 2.8em;
    }
}