.CitiesPage-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    background-image: url(https://wallpapercave.com/wp/wp1809587.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.CitiesPage-title {
    font-size: 3.5rem;
    text-align: center;
    color: aliceblue;
    text-shadow: 4px 4px 6px rgba(30,33,45,1);
    z-index: 100;
    font-family: sans-serif;
    font-weight: 800;
    font-style: oblique;
    margin: 1rem;
}

.citiesPage-search{
    padding: 0.5rem;
    border-radius: 12px;
    font-size: 1.4rem;
    width: 30vw;
    min-width: 290px;
    border: solid 0.3rem rgba(30, 33, 45, 0.548);
}
.citiesPage-order{
    margin: 0.6rem;
    font-size: 1.5rem;
    font-style: tahoma;
    border-radius: 12px 0px 12px 0px;
    text-align: center;
    cursor: pointer;
    border: solid 0.3rem rgba(30, 33, 45, 0.548);
    width: 30vw;
    min-width: 260px;
   
}

.citiespage-select2{
    border: solid 0.3rem rgba(30, 33, 45, 0.548);
    margin: 0.6rem;
    width: 30vw;
    font-size: 1.2rem;
    font-style: tahoma;
    border-radius: 0px 12px 0px 12px;
    text-align: center;
    cursor: pointer;
    min-width: 260px;
}

.filterdivs{
    display: flex;
    align-content: space-around;

}

@media (max-width: 768px){
    
    .filterdivs{
        display: flex;
        flex-direction: column;
    }

}