
/* palette */
/* #6B5865, #40548F, #524B6D, #D1A27B, #050209 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Footer-container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #050209;
    align-items: center;
    flex-wrap: wrap;
    min-height: 10vh;
    /*up to change */
}

.Footer-logo {
    width: 140px;
    height: 80px;
}

.Footer-p {
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #D1A27B;
    font-style: italic;
}

@media (max-width: 800px) {
    .Footer-p {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .Footer-p {
        font-size: 1rem;
    }
}