* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Footer-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #1E212D;
    align-items: center;
    flex-wrap: wrap;
    min-height: 10vh;
    z-index: 200;
    position: relative;
}

.Footer-logo {
    width: 140px;
    height: 80px;
}

.Footer-icon-img {
    width: 50px;
    filter: brightness(70%);
    margin: 1rem;
}

.Footer-icon-img:hover {
    filter: brightness(120%);

}

.Footer-p {
    font-family: sans-serif;
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: 600;
    color: #FAF3E0;

}

@media (max-width: 800px) {
    .Footer-p {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .Footer-p {
        font-size: 1rem;
    }
}