* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-open-nav{
    display: none;
}
.header-nav-div {
    display: flex;
    position: relative;
    min-height: 5vh;
    top: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #1E212D;
    color: #FAF3E0;
    z-index: 800;
}

.header-user {
    margin: 1rem;
    max-width: 3rem;
    filter: brightness(85%);
}

.header-user:hover {

    border-radius: 80%;
    background-color: #EABF9F;
    padding: 0.3rem;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    position: relative;
    justify-content: space-between;
    gap: 5px;
    max-width: 50%;
}

.header-items-div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 50%;
}

.header-p {
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 800;
    font-style: oblique;
}

.header-a {
    color: #FAF3E0;
    font-family: sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    margin: 4px;
    transition: all 300ms;
}

.header-a:hover {
    color: #EABF9F;
}

.header-logo {
    width: 3rem;
    margin: 1rem;
}
.header-nav-modal{
    position: fixed;
    display: none;
    flex-direction: column;
    gap: 2rem;
    align-items: stretch;
    left: -100%;
    top: 0;
    background-color: #1E212D;
    overflow-y: scroll;
    width: 100%;
    min-height: 100vh;
    transition: all 400ms;
}
.header-nav-modal.active{
    transform: translate(100%,0);
}
@media (max-width: 768px) {
    body::-webkit-scrollbar{
        display: none;
    }
    .header-nav-modal{
        display: flex;
    }
    .header-nav-div{
        flex-direction: column;
    }
    .header-items-div {
        justify-content: center;
    }
    .header-close-nav{
        background: url("https://i.ibb.co/JcCTWw0/cerrar-List-W.png");
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline;
        align-self: flex-end;
        padding: 1rem;
        border-radius: 360px;
        margin: 1rem 1rem 0 0;
    }
    .header-close-nav:hover{
        background-color: #ec684a;
    }
    .header-p{
        margin: .2rem;
    }
    .header-open-nav{
        background: url("https://i.ibb.co/Ybs0XB3/menu-List-W.png");
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        padding: 1.5rem;
        background-color: #1E212D;
        border-radius: 30%;
        margin: .2rem 0 .4rem 0;
    }
    .header-open-nav:hover{
        filter: saturate(200%) brightness(120%);
    }
    .header-nav{
        display: none;
    }
    .header-a{
        text-align: start;
        border-bottom: 2px solid #0E111D;
    }
}

@media (max-width: 450px) {
    .header-nav-div {
        flex-direction: column;
    }
    .header-open-nav{
        width: 1.5rem;
        height:1.5rem;
    }

    .header-user:hover {
        background-color: #1E212D;
        border: solid 0.3rem #EABF9F;
    }
}