.myTineraries-container{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
    text-decoration: none;
    background-image: url(https://wallpaperaccess.com/full/222675.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

}
.myTineraries-btn{
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.4vw;
    color: #FAF3E0 ;
    background-color:#1E212D ;
    border-radius: 16px;

}
.myTineraries-btn:hover{
    background-color: #FAF3E0 ;
    color:#1E212D;
    font-style: italic;
}
.myTineraries-item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    padding-top: 1rem;
}
@media (max-width: 768px){
    .myTineraries-item{
        width: 100%;
    }
}
.comments-post-cancel{
    margin: 0.4rem;
    background-color: #1E212D;
    padding: 0.4rem;
    border-radius: 12px;
    color: #FAF3E0;
    border: none;
}
.comments-post-btn{
    margin: 0.4rem;
    background-color: #1E212D;
    padding: 0.4rem;
    border-radius: 12px;
    color: #FAF3E0;
    border: none;
}
.itinerary-name{
    background-color:  #FAF3E0;
    color: #1E212D;
    border-radius: 12px;
    text-align: center;
}
.itinerary-cancel, .itinerary-submit, .itinerary-edit,.delete-itinerary-btn{
    background-color: #1E212D;
    padding: 0.4rem;
    border-radius: 12px;
    color: #FAF3E0;
    border: none;

}

.itinerary-title{
    margin: 0.5rem;
    font-family: Tahoma;
    font-size: 2.6rem;
    font-weight: 700;

}

.itinerary-user-name, .itinerary-user-country{
    margin: 0.2rem;
    font-family: sans-serif;

}
.itinerary-price-input, .itinerary-description-input, .itinerary-tags-input, .itinerary-duration-input{
    text-align: center;
    background-color: #FAF3E0;
    color: #1E212D;
    border-radius: 12px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
}

@media (max-width: 768px) {
    .myTineraries-btn{
        font-size: 80%;
    }
}