.Under-construction-div {
    background-image: url(https://wallpapercave.com/wp/wp1809587.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.Under-construction-div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UnderC-img {
    margin: 1rem;
    max-width: 10vw;
}


.Under-construction-h1 {
    display: flex;
    justify-content: center;
    font-size: 10vw;
    font-family: tahoma;
    font-weight: 800;
    color: #FAF3E0;
    text-shadow: -8px 6px 2px rgba(30, 33, 45, 0.79);

}

.Under-construction-p {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-family: tahoma;
    color: #FAF3E0;
    text-shadow: -8px 6px 2px rgba(30, 33, 45, 0.79);
    font-style: italic;

}
