.activities-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.activities-item{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    max-width: 30%;
    min-height: 250px;
    background-position: 50%;
    background-size: cover;
    border-radius: 16% 2% 16% 2%;
}
.activities-item:hover {
    filter: grayscale(60%);
    border-radius: 50%;
    transition:0.4s;
    
}
.activities-button{
    margin-top: .5rem;
    background-color: #1e212dac;
    border-radius: 10px;
    color: #FAF3E0;
    border-color: #1e212d;
}
.activities-button:hover{
    background-color: #1e212d;
    color: #f8f3e6;
    border-color: #262a3a;

}
.activities-item-name{
    color: #FAF3E0;
    font-weight: 700;
    font-style: oblique;
    text-shadow: -2px 3px 0px rgba(30,33,45,0.7);
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
