.profileNavList{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 2rem;
    margin: 1rem;
    z-index: 1000;
}
.profileNavList-img{
    object-fit: cover;
    height: 2.5rem;
    width: 2.5rem;
    filter: brightness(85%);
    border-radius: 100%;
    cursor: pointer;
}
.profileNavList-img:hover{
    filter: saturate(200%);
}
.profileNavList-list{
    display: flex;
    position: absolute;
    top: calc(100% - 4px);
    flex-direction: column;
    border-radius: 5px;
    min-width: 185px;
    padding: 2px;
    gap: 2px;
    border-collapse: collapse;
    background-color: #1E212D;
    border: 1px solid #0E111D;
    font-size: 1rem;
    z-index: 799;
}
.profileNavList-item{
    list-style: none;
    min-width: fit-content;
    padding: 4px;
    border-radius: 5px;
}
.profileNavList-item:hover{
    background-color: #0E111D;
}

.profileNavList-item-link{
    display: block;
    color: #FAF3E0;
    text-decoration: none;
    transition: all 250ms;
}
.profileNavList-item-link:hover{
    color: #EABF9F;
}

@media (max-width: 768px) {
    .profileNavList{
        width: 100%;
        margin: 0;
        align-items: flex-start;
        gap: 5px;
    }
    .profileNavList-list{
        max-width: 100%;
        min-width: 100%;
        position: static;
        align-items: stretch;
    }
    .profileNavList-img{
        margin-left: .5rem;
        border-radius: 360px;
        outline: 3px solid #0E111D;
        outline-offset: 1px;
    }
}